pkgbase = shader-slang-bin-zooeywm
	pkgdesc = Shading language that makes it easier to build and maintain large shader codebases in a modular and extensible fashion
	pkgver = 2024.1.8
	pkgrel = 1
	url = https://github.com/shader-slang/slang
	arch = x86_64
	license = MIT
	depends = slang
	depends = libx11
	depends = zlib
	provides = shader-slang
	conflicts = shader-slang
	conflicts = shader-slang-git
	conflicts = shader-slang-bin
	source = https://github.com/shader-slang/slang/releases/download/v2024.1.8/slang-2024.1.8-linux-x86_64.tar.gz
	sha256sums = b6dc3227b01aa2a24a0a137b0435bd85a5b5c0912bc7afa7b0e94b5e625b653f

pkgname = shader-slang-bin-zooeywm
